// Fonts

@font-face {
  font-family: "DinProLight";
	src: url("../fonts/dinpro-light.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DinProRegular";
  src: url("../fonts/dinpro-regular.ttf");
  font-style: normal;
  font-weight: normal;
}

* {

  font-family: DinProLight, sans-serif;

}

// Body

body {

  font-family: GothamProRegular, sans-serif;

}

// Typography

h1 {

  font-size: 32px;

}

h2 {

  font-size: 28px;

}

h3 {

  font-size: 24px;

}

h4 {

  font-size: 22px;

}

h5 {

  font-size: 20px;

}

h6 {

  font-size: 16px;

}

.link {
	font-size: inherit;
	font-family: DinProLight, sans-serif;
	text-decoration: none;
	color: inherit;
	letter-spacing: inherit;
	transition: color ease .15s;
	&--white {
		color: $white;
		&:hover {
			color: $primary;
		}
	}
	&--primary {
		color: $primary;
		&:hover {
			color: $white;
		}
	}
}

// Sticky footer

.page {
	position: relative;
	@include flexbox();
	@include flex-direction(column);
	min-height: 100vh;
}

.main {
	@include flex(1);
}

/*// Inputs

::-webkit-input-placeholder { !* Chrome/Opera/Safari *!
  color: $placeholder;
}
::-moz-placeholder { !* Firefox 19+ *!
  color: $placeholder;
}
:-ms-input-placeholder { !* IE 10+ *!
  color: $placeholder;
}
:-moz-placeholder { !* Firefox 18- *!
  color: $placeholder;
}*/

[placeholder]{
  text-overflow: ellipsis;
}

*::selection {

  //color: $orange;
  background: $black;

}

// Container

.container {
	
  margin-right: auto;
  margin-left: auto;
  padding-left: 48px;
  padding-right: 48px;
	
	
	@media (max-width: ($screen-xlg - 1)) {
		
		max-width: -webkit-calc(#{$screen-lg} - 72px);
		max-width: calc(#{$screen-lg} - 72px);
		padding-left: 36px;
		padding-right: 36px;
		
	}
	
	@media (max-width: $screen-lg) {
		
		max-width: -webkit-calc(#{$screen-md} - 48px);
		max-width: calc(#{$screen-md} - 48px);
		padding-left: 24px;
		padding-right: 24px;
		
	}
	
  @media (max-width: $screen-md) {

    max-width: -webkit-calc(#{$screen-sm} - 32px);
	  max-width: calc(#{$screen-sm} - 32px);
	  padding-left: 16px;
	  padding-right: 16px;
	  
  }
	
	@media (max-width: $screen-sm) {
		
		max-width: -webkit-calc(#{$screen-sm} - 24px);
		max-width: calc(#{$screen-sm} - 24px);
		padding-left: 12px;
		padding-right: 12px;
		
	}

}

