// MAIN SECTION

.main {
	&-banner {
		background: url("../images/about-bg.jpg") no-repeat;
		background-size: cover;
		padding: 172px 0 146px;
		&__logo {
			display: block;
			margin: 0 auto 76px;
			max-width: 100%;
		}
		&__title {
			margin: 0 0 324px;
			text-align: center;
			color: $white;
			line-height: 1;
			.title {
				font-size: 90px;
				letter-spacing: 1.6px;
			}
			.subtitle {
				margin: 20px 0 0;
				font-size: 60px;
				letter-spacing: .9px;
			}
		}
		&__nav {
			@include flexbox();
			@include justify-content(space-between);
			&-item {
				font-size: 24px;
				line-height: 1;
			}
			&--clipped {
				max-width: 1300px;
				margin: 0 auto;
			}
		}
	}
}

// DECORATION SERVICES

.decorations-services {
	margin: 0 0 127px;
}

// CONTACTS SERVICES

.contacts {
	text-align: center;
	color: $primary--dark;
	&__item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	&__socials {
		@include flexbox();
		@include justify-content(center);
		
		margin: 20px 0 0;
		
		&-item {
			margin: 0 15px;
		}
	}
}