// Colors

$primary:       #8ec9cf;
$primary--dark: #556c6e;
$white:         #fff;
$black:         #000;

// Breakpoints

$screen-xs:     420px;
$screen-sm:     768px;
$screen-md:     992px;
$screen-lg:     1420px;
$screen-xlg:    1920px;
